@media only screen and (min-width: 360px) {
  #laptop-icon {
    width: 210px;
  }
  .Typewriter {
    font-size: 1.8rem;
  }
}

@media only screen and (min-width: 375px) {
  #laptop-icon {
    width: 210px;
  }
  #fade-in-container {
    font-size: .9rem;
  }
}

@media only screen and (min-width: 411px) {
  #laptop-icon {
    width: 240px;
  }
  .Typewriter {
    font-size: 2.1rem;
  }
  #fade-in-container {
    font-size: 1rem;
  }
}


@media only screen and (min-width: 600px) {
  #type-writer-container {
    padding-top: 1.2%;
  }
  .Typewriter {
    font-size: 2.7rem;
  }
  #fade-in-container {
    font-size: 1.2rem;
    font-weight: 600;
    justify-content: center;
    ul {
      width: 75%
    }
  }
}

@media only screen and (min-width: 750px) {
  #laptop-icon {
    width: 270px;
  }
  #type-writer-container {
    margin-top: 0px;
    padding-top: 0%;
  }
  .Typewriter {
    width: 72%;
  }
  #fade-in-container {
    ul {
      width: 66%;
    }
  }
  #contact-form-container {
  }
}

@media only screen and (min-width: 800px) {
  #laptop-container {
    
  }
}

@media only screen and (min-width: 1024px) {
  #outermost-flex-container {
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 10%);
    height: calc(200vh - 108px);
  }
  #laptop-container {
    grid-column: 1 / span 4;
    grid-row: 1 / span 2;
    height: 100%;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
  }
  #laptop-icon {
    width: 300px;
  }
  #type-writer-container {
    position: relative;
    grid-column: 5 / span 6;
    grid-row: 1 / span 2;
    height: 100%;
    width: 100%;
  }
  .Typewriter {
    font-size: 3rem;
    margin: 0% 0px 0px 6%;
    position: absolute;
    bottom: 21%; 
    left: 0px;
  }
  #fade-in-container {
    grid-column: 1 / span 10;
    grid-row: 3 / span 3;
    height: 100%;
    justify-content: center;
    font-size: 1.2rem;
  }
  #contact-form-container {
    grid-column: 1 / span 10;
    grid-row: 6 / span 5;
    height: 100%;
    width: 100%;
    justify-content: flex-start;
  }
}


@media only screen and (min-width: 1350px) {
  #outermost-flex-container {
    grid-template-columns: repeat(33, 3.33%);
    grid-template-rows: repeat(10, 10%);
    height: calc(100vh - 108px);
  }
  #laptop-container {
    grid-column: 1 / span 14;
    grid-row: 1 / span 5;
    flex-direction: column;
    justify-content:flex-end;
    padding-right: 7.5%;
  }
  #laptop-icon {
    width: 390px;
  }
  #type-writer-container {
    grid-column: 15 / span 18;
    grid-row: 1 / span 3;
  }
  .Typewriter {
    font-size: 3rem;
    margin-left: 0px;
    margin-top: 0px;
    width: 60%;
    left: 0%;
    bottom: 9%;
  }
  #fade-in-container {
    grid-column: 15 / span 18;
    grid-row: 4 / span 1;
    font-size: 1rem;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 0px;
    ul {
      width: 78%;
      margin: 0px;
      li {
        display: inline;
      }
    }
  }
  #contact-form-container {
    grid-column: 15 / span 18;
    grid-row: 5 / span 6;
    padding-top: 6%;
    padding-left: 7.5%;
  }
  form {
    margin: 0px;
    input, textarea {
      font-size: 11px;
      padding: 12px;
    }
    #first-name {
      display: inline-block;
      width: 50%;
      text-align: left;
      input {
        width: calc(100% - .375em);
      }
    }
    #last-name {
      display: inline-block;
      width: 50%;
      text-align: right;
      input {
        width: calc(100% - .375em);
      }
    }
    #contact-email {
      display: inline-block;
      width: 50%;
      text-align: right;
      input {
        width: calc(100% - .375em);
      }
    }
    #contact-subject {
      display: block;
      width: 50%;
      text-align: left;
      float: left;
      input {
        width: calc(100% - .375em);
      }
    }
  }
}

@media only screen and (min-width: 2100px) {
  #outermost-flex-container {
    margin: 0 auto;
  }
}

