@media only screen and (min-width: 360px) {
  #laptop-icon {
    width: 210px;
  }
  #laptop-container {
   // background: rgba(red, .3);
  }
  .Typewriter {
    font-size: 1.8rem;
   // background: rgba(green, .3);
  }
  #fade-in-container {
   // background: rgba(orange, .3);
  }
  #contact-form-container {
   // background: rgba(pink, .3);
  }
}

@media only screen and (min-width: 375px) {
  #laptop-icon {
    width: 210px;
  }
  #fade-in-container {
    font-size: .9rem;
  }
  .Typewriter {
    font-size: 1.92rem;
  }
}

@media only screen and (min-width: 411px) {
  #laptop-icon {
    width: 240px;
  }
  .Typewriter {
    font-size: 2.1rem;
  }
  #fade-in-container {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 450px) {
  .Typewriter {
   font-size: 2.55rem;
  }
}
@media only screen and (min-width: 470px)
  and (max-height: 1000px) {
  #laptop-container {
    height: 270px;
  }
  #laptop-icon {
    width: 300px;
  }
  .Typewriter {
    font-size: 42px;
    width: 462px;
    margin: 0 auto;
  }
  #fade-in-container {
    //padding-top: 6%;
    padding-top: 30px;
    font-size: 16.2px;
    ul {
      width: 420px;
    }
  }
}


@media only screen and (min-width: 750px) {
  #laptop-container {
    height: 270px;
    padding-bottom: 0px;
  }
  #laptop-icon {
    width: 360px;
  }
  .Typewriter {
    //font-size: 2.7rem;
    font-size: 54px;
    width: 600px;
  }
  #type-writer-container {
    height: 132px;
  }
  #fade-in-container {
    font-size: 18px;
    font-weight: 600;
    ul {
      width: 540px;
    }
  }
}


@media only screen and (min-width: 750px) and (min-height: 999px) {
  #laptop-icon {
    width: 360px;
  }
  #laptop-container {
    height: 36vh;
    padding-bottom: 15px;
  }
  #type-writer-container {
    height: 15vh;
  }
  
  #fade-in-container {
    font-size: 24px;
    height: calc(49vh - 108px);
    padding-top: 15px;
    ul {
      font-weight: 400;
      width: 570px;
    }
  }
}


@media only screen and (min-width: 1024px) and (min-height: 999px) {
  #laptop-icon {
    width: 450px;
  }
  .Typewriter {
    font-size: 4.8rem;
    width: 840px;
  }
  #fade-in-container {
    font-size: 2.1rem;
    ul {
      width: 780px;
     // background: rgba(pink, .3);
    }
  }
}
@media only screen and (min-width: 1020px) and (min-height: 1332px) {
  #laptop-container {
    height: 36vh;
    padding-bottom: 15px;
  }
  #type-writer-container {
    height: 15vh;
  }
  #fade-in-container {
    height: calc(51vh - 108px);
    padding-top: 15px;
  }
  form {
    max-width: unset;
    width: 720px !important;
    padding: 30px;
    input, textarea {
      margin-bottom: 1.2em;
      padding: 21px;
      font-size: 21px;
    }
    ::placeholder {
      color: rgba(0,0,0,1) !important;
    }
    button {
      font-size: 1.2rem;
      max-width: 210px;
    }
  }
}



@media only screen and (min-width: 1350px) {
  #outermost-flex-container {
    display: grid;
    grid-template-columns: repeat(50, 2%);
    grid-template-rows: repeat(25, 4%);
    min-height: unset;
    height: calc(100vh - 108px);
  }
  #laptop-container {
    grid-column: 1 / span 21;
    grid-row: 1 / span 14;
    height: 100%;
    width: 100%;
    flex-direction: row;
    justify-content:flex-end;
    padding-right: 7.5%;
  }
  #laptop-icon {
    width: 390px;
  }
  #type-writer-container {
    grid-column: 22 / span 29;
    grid-row: 1 / span 8;
    height: 100%;
    width: 100%;
    padding-bottom: 21px;
    margin-top: 30px;
  }
  .Typewriter {
    width: 630px;
    font-size: 3.6rem;
    margin-left: 0px;
    margin-top: 0%;
  }
  #fade-in-container {
    grid-column: 22 / span 29;
    grid-row: 8 / span 4;
    font-size: 18.3px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    height: 100%;
    width: 100%;
    padding-top: 0px;
    ul {
      background: none;
      margin: 0px;
      width: 780px;
      li {
        display: inline;
      }
    }
  }
  #contact-form-container {
    grid-column: 22 / span 29;
    grid-row: 11 / span 15;
    height: 100%;
    width: 100%;
    padding-top: 0%;
    padding-left: 7.5%;
  }
  form {
    margin: 0px;
    input, textarea {
      font-size: 11px;
      padding: 12px;
    }
    #first-name {
      display: inline-block;
      width: 50%;
      text-align: left;
      input {
        width: calc(100% - .375em);
      }
    }
    #last-name {
      display: inline-block;
      width: 50%;
      text-align: right;
      input {
        width: calc(100% - .375em);
      }
    }
    #contact-email {
      display: inline-block;
      width: 50%;
      text-align: right;
      input {
        width: calc(100% - .375em);
      }
    }
    #contact-subject {
      display: block;
      width: 50%;
      text-align: left;
      float: left;
      input {
        width: calc(100% - .375em);
      }
    }
  }
}

@media only screen and (min-width: 2100px) {
  #outermost-flex-container {
    margin: 0 auto;
  }
}

